<!DOCTYPE html>
<html>
    <header>
        <title>Nabila's Website</title>
    </header>

    <body style="text-align: center; background-color: whitesmoke; font-family: Arial, Helvetica, sans-serif">
        {% load static %} <!--need this to load staticfiles-->
        <h1>Nabila's Website</h1>
        <hr>
        <h3 style="color: steelblue">Hello, there!</h3> 
        <img src="{% static 'assets/Nabila.jpg' %}" alt="profile photo" width="300" height="300" style="border-radius: 50%"/>
        <h4>Nama</h4>
        <p><big>Nabila Ayu Dewanti</big></p>
        <h4>NPM</h4>
        <p><big>1806205312</big></p>
        <h4>Jurusan</h4>
        <p><big>Ilmu Komputer</big></p>
        <h4>Tempat Kuliah</h4>
        <p><big>Universitas Indonesia</big></p>
        <h4>Angkatan</h4>
        <p><big>2018</big></p>
        <h4>Hobi</h4>
        <p><big>Baca novel dan nonton TV series</big></p>
        <h4>Deskripsi</h4>
        <p><big>Saya lahir di Jakarta, tetapi besar di Cikarang. Menjelang masuk SMA, saya kembali pindah ke Jakarta sampai
            akhirnya diterima kuliah di Ilmu Komputer UI. Dari kecil, saya mempunyai ketertarikan di bidang kesenian. Mulai dari melukis, 
            menari, dan akhir-akhir ini graphic design. Oleh karena UI/UX mempunyai keterkaitan antara ilmu komputer dan design, 
            saya berharap dapat meniti karir di bidang tersebut.</big></p>
    </body>
</html>